
body {
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    --color1:  hsla(239, 97%, 37%, 1);
    --color2: hsla(214, 99%, 54%, 1);
    --color3: hsla(201, 100%, 71%, 1);
    --color4: hsla(195, 100%, 78%, 1);
    --color5: hsla(190, 100%, 85%, 1);
    --color6: hsla(190, 68%, 89%, 1);
    --color7: hsla(189, 40%, 94%, 1);
    --color8: hsla(190, 29%, 96%, 1);
    --color9: hsla(190, 19%, 97%, 1);

    /*--navy-blue: hsla(239, 97%, 37%, 1);
    --dark-cornflower-blue: hsla(214, 99%, 54%, 1);
    --star-command-blue: hsla(201, 100%, 71%, 1);
    --blue-green: hsla(195, 100%, 78%, 1);
    --cerulean-crayola: hsla(190, 100%, 85%, 1);
    --sky-blue-crayola: hsla(190, 68%, 89%, 1);
    --sky-blue-crayola-2: hsla(189, 40%, 94%, 1);
    --blizzard-blue: hsla(190, 29%, 96%, 1);
    --powder-blue: hsla(190, 19%, 97%, 1);*/
    
    @font-face {
        font-family: 'uncannyregular';
    src: url('uncannyregular-z7lz-webfont.woff2') format('woff2'),
         url('uncannyregular-z7lz-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
    
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'uncannyregular', sans-serif;
    
}

header img {
    height: var(--header-height);
}

title {
    display: flex;
    justify-content: center;
    background: url('/TatisArt/BlueBGwithclouds.jpg');
    height: var(--header-height);
    box-shadow: var(--shadow);
}
.pageName {
    font-size: 55px;
    font-weight: bold;
    justify-content: center;
    align-self: center;
    font-family: 'uncannyregular';
    padding: 10px;
    border: 15px;
}

h1 {
    display: flex;
    justify-content: center;
    align-content: stretch;
    font-size: 55px;
    font-weight: bold;
    font-family: 'uncannyregular';
    padding: 10px;
    border: 15px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
    position: relative;
    z-index: 1;
}

main::before {
    content:"";
    background-image: url('/TatisArt/BlueBGwithclouds.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.25

}

section {
    position: relative;
}

content {
    display: flex;

}
p {
    margin: var(--gutter);
    font-family: 'uncannyregular';
    font-size: 25px;
    justify-content: flex-end;
}
.home {
    margin: 10px;
    border: 10px, 20px;
}
.portraits {
    margin: 10px;
    border: 10px, 20px;
}
.adventures {
    margin: 10px;
    border: 10px, 20px;
}
.contact {
    margin: 10px;
    border: 10px, 20px;
}
.headshot{
    
}